In [1]:
%pip install selenium
%pip install webdriver-manager
%pip install beautifulsoup4

Requirement already satisfied: selenium in c:\users\alima\anaconda3\lib\site-packages (4.1.3)
Requirement already satisfied: trio~=0.17 in c:\users\alima\anaconda3\lib\site-packages (from selenium) (0.20.0)
Requirement already satisfied: urllib3[secure,socks]~=1.26 in c:\users\alima\anaconda3\lib\site-packages (from selenium) (1.26.7)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\alima\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: idna in c:\users\alima\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.2)
Requirement already satisfied: attrs>=19.2.0 in c:\users\alima\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.2.0)
Requirement already satisfied: outcome in c:\users\alima\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\alima\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\alima\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.14.6)
Requirement already satisfied: sortedcontainers in c:\users\alima\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\alima\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\alima\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.20)
Requirement already satisfied: wsproto>=0.14 in c:\users\alima\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.1.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\alima\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: pyOpenSSL>=0.14 in c:\users\alima\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (21.0.0)
Requirement already satisfied: cryptography>=1.3.4 in c:\users\alima\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (3.4.8)
Requirement already satisfied: certifi in c:\users\alima\anaconda3\lib\site-packages (from urllib3[secure,socks]~=1.26->selenium) (2021.10.8)
Requirement already satisfied: six>=1.5.2 in c:\users\alima\anaconda3\lib\site-packages (from pyOpenSSL>=0.14->urllib3[secure,socks]~=1.26->selenium) (1.16.0)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\alima\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.13.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: webdriver-manager in c:\users\alima\anaconda3\lib\site-packages (3.5.4)
Requirement already satisfied: requests in c:\users\alima\anaconda3\lib\site-packages (from webdriver-manager) (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\alima\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\alima\anaconda3\lib\site-packages (from requests->webdriver-manager) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\alima\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\alima\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: beautifulsoup4 in c:\users\alima\anaconda3\lib\site-packages (4.10.0)
Requirement already satisfied: soupsieve>1.2 in c:\users\alima\anaconda3\lib\site-packages (from beautifulsoup4) (2.2.1)
Note: you may need to restart the kernel to use updated packages.

In [2]:
%pip install fake-useragent

Requirement already satisfied: fake-useragent in c:\users\alima\anaconda3\lib\site-packages (0.1.11)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from fake_useragent import UserAgent
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait as wait
from selenium.webdriver.support import expected_conditions as EC
import sys
import src
from src import wallapop as w


usuario=UserAgent().random

print(usuario)

====== WebDriver manager ======
Current google-chrome version is 100.0.4896
Get LATEST chromedriver version for 100.0.4896 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/100.0.4896.60/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\alima\.wdm\drivers\chromedriver\win32\100.0.4896.60]

Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_2) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/36.0.1944.0 Safari/537.36

In [2]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
PATH=ChromeDriverManager().install()
driver=webdriver.Chrome(PATH)

opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False
opciones.add_argument('--start-maximized')
#opciones.add_argument('--incognito')
#opciones.add_extension('driver/adblock.crx')       # adblocker


#opciones.add_argument('user-data-dir=selenium') 
#opciones.add_argument('proxy-server=5.152.175.13.2:2580')

====== WebDriver manager ======
Current google-chrome version is 100.0.4896
Get LATEST chromedriver version for 100.0.4896 google-chrome
Driver [C:\Users\alima\.wdm\drivers\chromedriver\win32\100.0.4896.60\chromedriver.exe] found in cache
C:\Users\alima\AppData\Local\Temp/ipykernel_29488/4228707673.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH)

In [6]:
import  csv
from selenium.common.exceptions import TimeoutException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.chrome.options import Options

import numpy as np
from random import randint
import requests as req
import pandas as pd
import time
from time import sleep
from bs4 import BeautifulSoup as bs

In [8]:
url='https://www.coches.net/'

In [95]:
pd.options.display.max_colwidth=100

In [ ]:
PATH=ChromeDriverManager().install()

## COCHES.com

In [1]:
from src.cochescom import *

====== WebDriver manager ======
Current google-chrome version is 101.0.4951
Get LATEST chromedriver version for 101.0.4951 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/101.0.4951.41/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\alima\.wdm\drivers\chromedriver\win32\101.0.4951.41]

In [783]:
def links(n):
    li=[]
    pages = np.arange(0, n, 1)
    for page in pages:
        page='https://www.coches.com/coches-segunda-mano/coches-ocasion.htm?ord[]=fecha_down&page=' + str(page)
        html=req.get(page).content


        soup = bs(html, 'html.parser')
        link=[li.find('a').attrs['href'] for li in soup.find_all(class_='pill-information')]
        li.append(link)
        flat_list_link = [item for link in li for item in link]
        
        return flat_list_link

In [775]:
url='https://www.coches.com/coches-segunda-mano/ocasion-opel-insignia-15-t-xft-s_s-ultimate-aut-165-en-madrid.htm?id=6889938'
url2='https://www.coches.com/coches-segunda-mano/ocasion-bmw-serie+3-330d-coupe-en-murcia.htm?id=6896580'
url3='https://www.coches.com/coches-segunda-mano/ocasion-audi-a1-sportback-14-tfsi-adrenalin-92kw-en-granada.htm?id=6893492'

model=[]
html=req.get(url3).content
soup = bs(html, 'html.parser')

modelo =[" ".join(e.text.split('\n')).rsplit(' ', 1)[0] for e in soup.find(class_='index-card__make-model')]
print(modelo)

if 'Serie' in modelo[0] or 'Clase' in modelo[0]:
        m=modelo[0].split()[1:3]
    
        model.append(' '.join(m))
elif 'Rover' or 'Alfa' in modelo[0]:
    k=modelo[0]
    model.append(k)
else: 
    model.append(modelo[0].split()[1])
    
model

TypeError: 'NoneType' object is not iterable

In [781]:
def scrapeo(urls):


    urls=flat_list_link
    maker=[]
    model=[]
    price=[]
    gas=[]
    year=[]
    kms=[]
    power=[]
    doors=[]
    shift=[]
    is_professional=[]
    province=[]
    link=[]
    coches=pd.read_csv('scrapeo_coches_com.csv')
    for url in urls:

        html=req.get(url).content
        soup = bs(html, 'html.parser')
        try:
            modelo =[" ".join(e.text.split('\n')).rsplit(' ', 1)[0] for e in soup.find(class_='index-card__make-model')]
            marca = [" ".join(e.text.split('\n')).rsplit(' ', 1)[0] for e in soup.find(class_='index-card__make-model')]
            l=[" ".join(e.text.split('\n')).rsplit(' ', 1)[0] for e in soup.find_all(id='trackingIndexCardPrice')]
            l=str(l).split('\\t')[-1]

            precio=re.findall('(\d+.+?\d+)', l )
            precio=int(float(precio[0])*1000)

            año=[" ".join(e.text.split('\n')).rsplit(' ', 1)[0] for e in soup.find_all(id='trackingIndexCardYear')]
            año=str(año).split('\\t')[-1]
            año=re.findall('(\d+.+?\d+)', año )

            año=año[-1].split('/')
            año=int(año[-1])

            fuel=[" ".join(e.text.split('\n')).rsplit(' ', 1)[0] for e in soup.find_all(id='trackingIndexCardFuel')]
            fuel=str(fuel).split('\\t')[-1]

            fuel=re.findall('(\w+)', fuel )
            fuel=fuel[0]

            km=[" ".join(e.text.split('\n')).rsplit(' ', 1)[0] for e in soup.find_all(id='trackingIndexCardKms')]
            km=str(km).split('\\t')[-1]
            try:
                km=re.findall('(\d+.+?\d+)', km )
                km=int(float(km[0])*1000)
            except:
                pass
            if km==[]:
                km=0

            cv=[" ".join(e.text.split('\n')).rsplit(' ', 1)[0] for e in soup.find_all(id='trackingIndexCardPower')]
            cv=str(cv).split('\\t')[-1]

            cv=re.findall('(\d+)', cv )

            cv=int(cv[0])


            l=[" ".join(e.text.split('\n')).rsplit(' ', 1)[0] for e in soup.find_all(id='trackingIndexCardDoors')]
            l=str(l).split('\\t')[-1]

            puertas=re.findall('(\d+)', l )
            puertas=int(puertas[0])

            l=[" ".join(e.text.split('\n')).rsplit(' ', 1)[0] for e in soup.find_all(class_='index-card__technical-data-section')]
            l=str(l).split('\\t')[-1]


            pepe=re.sub('.*Transmisión[ ]*','',l)
            trans=re.sub('[ ].*[]]$','',pepe)

            l=[" ".join(e.text.split('\n')).rsplit(' ', 1)[0] for e in soup.find(class_='index-card__cv-province')]
            l=str(l).split('\\t')[-1]

            sitio=re.sub('.*[ ]en*\s','',l).strip()
            place=re.sub('[ ].*[]]$','',sitio)

            if 'Alfa' in modelo[0]:
                c=modelo[0].split()[0:2]
                maker.append(c[0].upper()+' '+c[1].upper())
            elif 'Land' in modelo[0]:
                c=modelo[0].split()[0:2]
                maker.append(c[0].upper()+' '+c[1].upper())


            else: 

                maker.append(modelo[0].split()[0].upper())
            if 'Serie' in modelo[0]: 
                m=modelo[0].split()[1:3]

                model.append(' '.join(m))

            elif 'Clase' in modelo[0]:
                m=modelo[0].split()[1:3]
                model.append(' '.join(m))

            elif 'Rover' in modelo[0]:
                k=modelo[0].split()[2]
                model.append(k)

            elif 'Alfa' in modelo[0]:
                k=modelo[0].split()[2]
                model.append(k)
            else: 
                model.append(modelo[0].split()[1])
            price.append(precio)
            gas.append(fuel)
            year.append(año)
            kms.append(km)
            power.append(cv)
            doors.append(puertas)
            shift.append(trans)
            is_professional.append('True')
            link.append(url)
            if '[' in place:
                province.append('Unkown')
            else:
                province.append(place)
        except:
            pass

        data_dict={'make': maker, 'model':model, 'price':price, 'fuel':gas, 'year':year, 'kms':kms, 'power':power, 'doors':doors, 
                  'shift':shift, 'is_professional':is_professional, 'province':province , 'link': link}

        coches=coches.append(pd.DataFrame(data=data_dict,index=[0]), ignore_index=True))
        coches.to_csv('scrapeo_coches_com.csv', index=False)
        
        return 'Get data process DONE'
    
    def limpieza():
        
        coches=pd.read_csv('scrapeo_coches_com.csv')
        
        try:
            coches.province=coches.province.replace(',','')
            coches['shift']=coches['shift'].replace('Automática', 'Automático')
            coches.province=coches.province.replace('Cadiz', 'Cádiz').replace('Malaga', 'Málaga').replace('Almeria','Almería').replace('Castellon','Castellón')

            coches.province=coches.province.str.replace(',','')
            coches['shift']=coches['shift'].replace('Directo,','Automático')
            coches.make=coches.make.replace('MERCEDES','MERCEDES-BENZ')
            coches.model=coches.model.str.replace('-','')
            coches.fuel=coches.fuel.replace('Diesel','Diésel')
            coches.province=coches.province.replace('Coruña', 'A Coruña').replace('Cordoba','Córdoba')
            coches.province=coches.province.replace('Leon', 'León').replace('Caceres','Cáceres').replace('Avila','Ávila').replace('Jaen','Jaén')

        except:
            print('Clean Data')
            
        coches.to_csv('scrapeo_coches_com.csv', index=False)
        
        return 'Clean data process DONE'

In [782]:
coches

,make,model,price,fuel,year,kms,power,doors,shift,is_professional,province,link
0,SEAT,Ateca,20900,Diésel,2018,54000,150,5,Manual,True,Girona,https://www.coches.com/coches-segunda-mano/oca...
1,OPEL,Corsa,7990,Gasolina,2009,169000,192,3,Manual,True,Madrid,https://www.coches.com/coches-segunda-mano/oca...
2,AUDI,A3,45999,Gasolina,2017,128000,400,5,Automático,True,Alicante,https://www.coches.com/coches-segunda-mano/oca...
3,PEUGEOT,407,2200,Diésel,2005,310000,136,5,Manual,True,Madrid,https://www.coches.com/coches-segunda-mano/oca...
4,NISSAN,Nt400,41229,Diésel,2017,56133,130,2,Manual,True,Madrid,https://www.coches.com/coches-segunda-mano/oca...
5,SEAT,Arona,15490,Gasolina,2018,48300,115,5,Manual,True,Valencia,https://www.coches.com/coches-segunda-mano/oca...
6,FORD,Kuga,18900,Gasolina,2019,39000,120,5,Manual,True,Murcia,https://www.coches.com/coches-segunda-mano/oca...
7,AUDI,A3,35000,Gasolina,2016,99000,367,5,Automático,True,Alicante,https://www.coches.com/coches-segunda-mano/oca...
8,RENAULT,Talisman,18100,Diésel,2017,47794,130,4,Manual,True,Unkown,https://www.coches.com/coches-segunda-mano/oca...
9,OPEL,Zafira,16200,Gasolina,2018,72000,140,5,Manual,True,Madrid,https://www.coches.com/coches-segunda-mano/oca...
10,HYUNDAI,I20,11900,Gasolina,2018,72000,100,5,Automático,True,Madrid,https://www.coches.com/coches-segunda-mano/oca...
11,LAND ROVER,Discovery,52900,Diésel,2020,23490,240,5,Automático,True,Córdoba,https://www.coches.com/coches-segunda-mano/oca...
12,JAGUAR,FPace,44900,Diésel,2019,35000,180,5,Automático,True,Córdoba,https://www.coches.com/coches-segunda-mano/oca...
13,CITROEN,Jumpy,18990,Diésel,2019,68000,122,4,Manual,True,Madrid,https://www.coches.com/coches-segunda-mano/oca...
14,LAND ROVER,Range,65900,Diésel,2021,8000,180,5,Automático,True,Córdoba,https://www.coches.com/km0/seminuevo-land+rove...
15,JAGUAR,IPace,69000,Eléctrico,2022,0,400,5,Automático,True,Córdoba,https://www.coches.com/km0/seminuevo-jaguar-i-...
16,JAGUAR,EPace,55900,Diésel,2022,0,163,5,Automático,True,Córdoba,https://www.coches.com/km0/seminuevo-jaguar-e-...
17,LAND ROVER,Discovery,20000,Diésel,2017,169529,150,5,Manual,True,Córdoba,https://www.coches.com/coches-segunda-mano/oca...
18,LAND ROVER,Range,69900,Diésel,2021,22467,204,5,Automático,True,Córdoba,https://www.coches.com/coches-segunda-mano/oca...
19,JAGUAR,EPace,40500,Diésel,2021,12100,163,5,Automático,True,Córdoba,https://www.coches.com/coches-segunda-mano/oca...
20,LAND ROVER,Range,38900,Diésel,2021,13951,163,5,Manual,True,Córdoba,https://www.coches.com/coches-segunda-mano/oca...
21,JAGUAR,Xf,21900,Diésel,2017,147487,180,4,Automático,True,Córdoba,https://www.coches.com/coches-segunda-mano/oca...
22,JAGUAR,IPace,55900,Eléctrico,2020,9394,400,5,Automático,True,Córdoba,https://www.coches.com/km0/seminuevo-jaguar-i-...
23,JAGUAR,FPace,34400,Diésel,2017,84298,180,5,Automático,True,Córdoba,https://www.coches.com/coches-segunda-mano/oca...
24,JAGUAR,EPace,49900,Diésel,2021,14522,163,5,Automático,True,Córdoba,https://www.coches.com/coches-segunda-mano/oca...
25,MERCEDES-BENZ,Clase Gla,18990,Diésel,2016,200000,136,5,Automático,True,Córdoba,https://www.coches.com/coches-segunda-mano/oca...
26,LAND ROVER,Range,81900,Híbrido,2021,13562,404,5,Automático,True,Córdoba,https://www.coches.com/coches-segunda-mano/oca...
27,JAGUAR,Xf,37900,Diésel,2020,30824,180,4,Automático,True,Córdoba,https://www.coches.com/coches-segunda-mano/oca...
28,LAND ROVER,Discovery,29900,Diésel,2019,61977,150,5,Manual,True,Córdoba,https://www.coches.com/coches-segunda-mano/oca...
29,JAGUAR,FPace,65900,Diésel,2021,13530,163,5,Automático,True,Córdoba,https://www.coches.com/coches-segunda-mano/oca...
30,JAGUAR,FPace,35900,Diésel,2016,75737,180,5,Automático,True,Córdoba,https://www.coches.com/coches-segunda-mano/oca...
31,JAGUAR,EPace,42900,Diésel,2021,26882,150,5,Automático,True,Córdoba,https://www.coches.com/coches-segunda-mano/oca...
32,LAND ROVER,Range,84900,Diésel,2021,14256,249,5,Automático,True,Córdoba,https://www.coches.com/coches-segunda-mano/oca...
33,JAGUAR,EPace,36300,Diésel,2021,0,150,5,Automático,True,Córdoba,https://www.coches.com/km0/seminuevo-jaguar-e-...
34,JAGUAR,IPace,69000,Eléctrico,2022,0,400,5,Automático,True,Cádiz,https://www.coches.com/km0/seminuevo-jaguar-i-...
35,JAGUAR,EPace,55900,Diésel,2022,0,163,5,Automático,True,Cádiz,https://www.coches.com/km0/seminuevo-jaguar-e-...
36,JAGUAR,Xe,41800,Diésel,2022,0,204,4,Automático,True,Cádiz,https://www.coches.com/km0/seminuevo-jaguar-xe...
37,LAND ROVER,Discovery,52900,Diésel,2020,23490,240,5,Automático,True,Cádiz,https://www.coches.com/coches-segunda-mano/oca...
38,LAND ROVER,Range,24900,Diésel,2015,125446,150,5,Automático,True,Cádiz,https://www.coches.com/coches-segunda-mano/oca...
39,LAND ROVER,Discovery,20000,Diésel,2017,169529,150,5,Manual,True,Cádiz,https://www.coches.com/coches-segunda-mano/oca...
40,LAND ROVER,Range,69900,Diésel,2021,22467,204,5,Automático,True,Cádiz,https://www.coches.com/coches-segunda-mano/oca...
41,JAGUAR,EPace,40500,Diésel,2021,12100,163,5,Automático,True,Cádiz,https://www.coches.com/coches-segunda-mano/oca...
42,LAND ROVER,Range,81900,Híbrido,2021,13562,404,5,Automático,True,Cádiz,https://www.coches.com/coches-segunda-mano/oca...
43,JAGUAR,Xf,21900,Diésel,2017,147487,180,4,Automático,True,Cádiz,https://www.coches.com/coches-segunda-mano/oca...
44,JAGUAR,Xf,48900,Diésel,2020,13823,180,4,Automático,True,Cádiz,https://www.coches.com/coches-segunda-mano/oca...
45,LAND ROVER,Range,65900,Diésel,2021,8000,180,5,Automático,True,Cádiz,https://www.coches.com/km0/seminuevo-land+rove...
46,JAGUAR,EPace,36300,Diésel,2021,0,150,5,Automático,True,Cádiz,https://www.coches.com/km0/seminuevo-jaguar-e-...
47,JAGUAR,FPace,34400,Diésel,2017,84298,180,5,Automático,True,Cádiz,https://www.coches.com/coches-segunda-mano/oca...
48,JAGUAR,FPace,65900,Diésel,2021,13530,163,5,Automático,True,Cádiz,https://www.coches.com/coches-segunda-mano/oca...
49,LAND ROVER,Discovery,29900,Diésel,2019,61977,150,5,Manual,True,Cádiz,https://www.coches.com/coches-segunda-mano/oca...
50,JAGUAR,Xf,37900,Diésel,2020,30824,180,4,Automático,True,Cádiz,https://www.coches.com/coches-segunda-mano/oca...
51,MERCEDES-BENZ,Clase C,24100,Diésel,2016,63159,170,4,Automático,True,Unkown,https://www.coches.com/coches-segunda-mano/oca...
52,BMW,Serie 5,25432,Diésel,2017,129061,190,4,Automático,True,Valencia,https://www.coches.com/coches-segunda-mano/oca...
53,JAGUAR,FPace,35900,Diésel,2016,75737,180,5,Automático,True,Cádiz,https://www.coches.com/coches-segunda-mano/oca...
54,LAND ROVER,Range,84900,Diésel,2021,14256,249,5,Automático,True,Cádiz,https://www.coches.com/coches-segunda-mano/oca...
55,OPEL,Insignia,17390,Gasolina,2019,117819,166,5,Automático,True,Unkown,https://www.coches.com/coches-segunda-mano/oca...
56,FIAT,Tipo,8990,Diésel,2018,138017,120,5,Manual,True,Unkown,https://www.coches.com/coches-segunda-mano/oca...
57,MINI,Countryman,18990,Diésel,2016,37950,112,5,Manual,True,Unkown,https://www.coches.com/coches-segunda-mano/oca...
58,JAGUAR,FPace,37790,Diésel,2018,102700,240,5,Automático,True,Unkown,https://www.coches.com/coches-segunda-mano/oca...

In [697]:
!pip install apache-airflow

!pip install 'apache-airflow[all]'

Requirement already satisfied: apache-airflow in c:\users\alima\anaconda3\lib\site-packages (2.3.0)
Requirement already satisfied: python-daemon>=2.2.4 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (2.3.0)
Requirement already satisfied: connexion[flask,swagger-ui]>=2.10.0 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (2.13.1)
Requirement already satisfied: pendulum>=2.0 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (2.1.2)
Requirement already satisfied: sqlalchemy<1.4.10,>=1.4 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (1.4.9)
Requirement already satisfied: flask-appbuilder==3.4.5 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (3.4.5)
Requirement already satisfied: lockfile>=0.12.2 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (0.12.2)
Requirement already satisfied: croniter>=0.3.17 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (1.3.4)
Requirement already satisfied: deprecated>=1.2.13 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (1.2.13)
Requirement already satisfied: dill>=0.2.2 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (0.3.4)
Requirement already satisfied: marshmallow-oneofschema>=2.0.1 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (3.0.1)
Requirement already satisfied: tabulate>=0.7.5 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (0.8.9)
Requirement already satisfied: apache-airflow-providers-imap in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (2.2.3)
Requirement already satisfied: pluggy>=1.0 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (1.0.0)
Requirement already satisfied: jinja2<3.1,>=2.10.1 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (2.11.3)
Requirement already satisfied: markupsafe<2.1.0,>=1.1.1 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (1.1.1)
Requirement already satisfied: cron-descriptor>=1.2.24 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (1.2.24)
Requirement already satisfied: apache-airflow-providers-sqlite in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (2.1.3)
Requirement already satisfied: sqlalchemy-jsonfield>=1.0 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (1.0.0)
Requirement already satisfied: termcolor>=1.1.0 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (1.1.0)
Requirement already satisfied: pathspec~=0.9.0 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (0.9.0)
Requirement already satisfied: rich>=12.3.0 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (12.4.1)
Requirement already satisfied: flask-login<0.5,>=0.3 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (0.4.1)
Requirement already satisfied: flask-session<=0.4.0,>=0.3.1 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (0.4.0)
Requirement already satisfied: apache-airflow-providers-ftp in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (2.1.2)
Requirement already satisfied: attrs<21.0,>=20.0 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (20.3.0)
Requirement already satisfied: typing-extensions>=3.7.4 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (3.10.0.2)
Requirement already satisfied: argcomplete>=1.10 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (2.0.0)
Requirement already satisfied: python-nvd3>=0.15.0 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (0.15.0)
Requirement already satisfied: alembic<2.0,>=1.5.1 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (1.7.7)
Requirement already satisfied: python-slugify>=5.0 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (5.0.2)
Requirement already satisfied: flask-caching<2.0.0,>=1.5.0 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (1.10.1)
Requirement already satisfied: httpx in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (0.22.0)
Requirement already satisfied: lazy-object-proxy in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (1.6.0)
Requirement already satisfied: graphviz>=0.12 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (0.20)
Requirement already satisfied: cattrs!=1.7.*,~=1.1 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (1.10.0)
Requirement already satisfied: colorlog<5.0,>=4.0.2 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (4.8.0)
Requirement already satisfied: flask-wtf<0.15,>=0.14.3 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (0.14.3)
Requirement already satisfied: markdown>=3.0 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (3.3.7)
Requirement already satisfied: python-dateutil>=2.3 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (2.8.2)
Requirement already satisfied: setproctitle>=1.1.8 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (1.2.3)
Requirement already satisfied: apache-airflow-providers-http in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (2.1.2)
Requirement already satisfied: unicodecsv>=0.14.1 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (0.14.1)
Requirement already satisfied: itsdangerous<2.0,>=1.1.0 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (1.1.0)
Requirement already satisfied: werkzeug>=1.0.1,~=1.0 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (1.0.1)
Requirement already satisfied: cryptography>=0.9.3 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (3.4.8)
Requirement already satisfied: gunicorn>=20.1.0 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (20.1.0)
Requirement already satisfied: blinker in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (1.4)
Requirement already satisfied: jsonschema<5.0,>=3.2.0 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (3.2.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (8.0.1)
Requirement already satisfied: psutil>=4.2.0 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (5.8.0)
Requirement already satisfied: packaging>=14.0 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (21.0)
Requirement already satisfied: pygments>=2.0.1 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (2.10.0)
Requirement already satisfied: flask<2.0,>=1.1.0 in c:\users\alima\anaconda3\lib\site-packages (from apache-airflow) (1.1.2)
Requirement already satisfied: marshmallow-sqlalchemy<0.27.0,>=0.22.0 in c:\users\alima\anaconda3\lib\site-packages (from flask-appbuilder==3.4.5->apache-airflow) (0.26.1)
Requirement already satisfied: colorama<1,>=0.3.9 in c:\users\alima\anaconda3\lib\site-packages (from flask-appbuilder==3.4.5->apache-airflow) (0.4.4)
Requirement already satisfied: Flask-JWT-Extended<4,>=3.18 in c:\users\alima\anaconda3\lib\site-packages (from flask-appbuilder==3.4.5->apache-airflow) (3.25.1)
Requirement already satisfied: Flask-SQLAlchemy<3,>=2.4 in c:\users\alima\anaconda3\lib\site-packages (from flask-appbuilder==3.4.5->apache-airflow) (2.5.1)
Requirement already satisfied: apispec[yaml]<4,>=3.3 in c:\users\alima\anaconda3\lib\site-packages (from flask-appbuilder==3.4.5->apache-airflow) (3.3.2)
Requirement already satisfied: Flask-OpenID<2,>=1.2.5 in c:\users\alima\anaconda3\lib\site-packages (from flask-appbuilder==3.4.5->apache-airflow) (1.3.0)
Requirement already satisfied: email-validator<2,>=1.0.5 in c:\users\alima\anaconda3\lib\site-packages (from flask-appbuilder==3.4.5->apache-airflow) (1.2.1)
Requirement already satisfied: marshmallow-enum<2,>=1.5.1 in c:\users\alima\anaconda3\lib\site-packages (from flask-appbuilder==3.4.5->apache-airflow) (1.5.1)
Requirement already satisfied: click<9,>=6.7 in c:\users\alima\anaconda3\lib\site-packages (from flask-appbuilder==3.4.5->apache-airflow) (8.0.3)
Requirement already satisfied: sqlalchemy-utils<1,>=0.32.21 in c:\users\alima\anaconda3\lib\site-packages (from flask-appbuilder==3.4.5->apache-airflow) (0.38.2)
Requirement already satisfied: PyJWT<2.0.0,>=1.7.1 in c:\users\alima\anaconda3\lib\site-packages (from flask-appbuilder==3.4.5->apache-airflow) (1.7.1)
Requirement already satisfied: prison<1.0.0,>=0.2.1 in c:\users\alima\anaconda3\lib\site-packages (from flask-appbuilder==3.4.5->apache-airflow) (0.2.1)
Requirement already satisfied: Flask-Babel<3,>=1 in c:\users\alima\anaconda3\lib\site-packages (from flask-appbuilder==3.4.5->apache-airflow) (2.0.0)
Requirement already satisfied: marshmallow<4,>=3 in c:\users\alima\anaconda3\lib\site-packages (from flask-appbuilder==3.4.5->apache-airflow) (3.15.0)
Requirement already satisfied: WTForms<3.0.0 in c:\users\alima\anaconda3\lib\site-packages (from flask-appbuilder==3.4.5->apache-airflow) (2.3.3)
Requirement already satisfied: Mako in c:\users\alima\anaconda3\lib\site-packages (from alembic<2.0,>=1.5.1->apache-airflow) (1.2.0)
Requirement already satisfied: PyYAML>=3.10 in c:\users\alima\anaconda3\lib\site-packages (from apispec[yaml]<4,>=3.3->flask-appbuilder==3.4.5->apache-airflow) (6.0)
Requirement already satisfied: inflection<0.6,>=0.3.1 in c:\users\alima\anaconda3\lib\site-packages (from connexion[flask,swagger-ui]>=2.10.0->apache-airflow) (0.5.1)
Requirement already satisfied: requests<3,>=2.9.1 in c:\users\alima\anaconda3\lib\site-packages (from connexion[flask,swagger-ui]>=2.10.0->apache-airflow) (2.26.0)
Requirement already satisfied: clickclick<21,>=1.2 in c:\users\alima\anaconda3\lib\site-packages (from connexion[flask,swagger-ui]>=2.10.0->apache-airflow) (20.10.2)
Requirement already satisfied: swagger-ui-bundle<0.1,>=0.0.2 in c:\users\alima\anaconda3\lib\site-packages (from connexion[flask,swagger-ui]>=2.10.0->apache-airflow) (0.0.9)
Requirement already satisfied: cffi>=1.12 in c:\users\alima\anaconda3\lib\site-packages (from cryptography>=0.9.3->apache-airflow) (1.14.6)
Requirement already satisfied: pycparser in c:\users\alima\anaconda3\lib\site-packages (from cffi>=1.12->cryptography>=0.9.3->apache-airflow) (2.20)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\alima\anaconda3\lib\site-packages (from deprecated>=1.2.13->apache-airflow) (1.12.1)
Requirement already satisfied: idna>=2.0.0 in c:\users\alima\anaconda3\lib\site-packages (from email-validator<2,>=1.0.5->flask-appbuilder==3.4.5->apache-airflow) (3.2)
Requirement already satisfied: dnspython>=1.15.0 in c:\users\alima\anaconda3\lib\site-packages (from email-validator<2,>=1.0.5->flask-appbuilder==3.4.5->apache-airflow) (2.2.1)
Requirement already satisfied: pytz in c:\users\alima\anaconda3\lib\site-packages (from Flask-Babel<3,>=1->flask-appbuilder==3.4.5->apache-airflow) (2021.3)
Requirement already satisfied: Babel>=2.3 in c:\users\alima\anaconda3\lib\site-packages (from Flask-Babel<3,>=1->flask-appbuilder==3.4.5->apache-airflow) (2.9.1)
Requirement already satisfied: six in c:\users\alima\anaconda3\lib\site-packages (from Flask-JWT-Extended<4,>=3.18->flask-appbuilder==3.4.5->apache-airflow) (1.16.0)
Requirement already satisfied: python3-openid>=2.0 in c:\users\alima\anaconda3\lib\site-packages (from Flask-OpenID<2,>=1.2.5->flask-appbuilder==3.4.5->apache-airflow) (3.2.0)
Requirement already satisfied: cachelib in c:\users\alima\anaconda3\lib\site-packages (from flask-session<=0.4.0,>=0.3.1->apache-airflow) (0.6.0)
Requirement already satisfied: setuptools>=3.0 in c:\users\alima\anaconda3\lib\site-packages (from gunicorn>=20.1.0->apache-airflow) (58.0.4)
Requirement already satisfied: pyrsistent>=0.14.0 in c:\users\alima\anaconda3\lib\site-packages (from jsonschema<5.0,>=3.2.0->apache-airflow) (0.18.0)
Requirement already satisfied: importlib-metadata>=4.4 in c:\users\alima\anaconda3\lib\site-packages (from markdown>=3.0->apache-airflow) (4.8.1)
Requirement already satisfied: zipp>=0.5 in c:\users\alima\anaconda3\lib\site-packages (from importlib-metadata>=4.4->markdown>=3.0->apache-airflow) (3.6.0)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\alima\anaconda3\lib\site-packages (from packaging>=14.0->apache-airflow) (3.0.4)
Requirement already satisfied: pytzdata>=2020.1 in c:\users\alima\anaconda3\lib\site-packages (from pendulum>=2.0->apache-airflow) (2020.1)
Requirement already satisfied: docutils in c:\users\alima\anaconda3\lib\site-packages (from python-daemon>=2.2.4->apache-airflow) (0.17.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\alima\anaconda3\lib\site-packages (from python-slugify>=5.0->apache-airflow) (1.3)
Requirement already satisfied: defusedxml in c:\users\alima\anaconda3\lib\site-packages (from python3-openid>=2.0->Flask-OpenID<2,>=1.2.5->flask-appbuilder==3.4.5->apache-airflow) (0.7.1)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\alima\anaconda3\lib\site-packages (from requests<3,>=2.9.1->connexion[flask,swagger-ui]>=2.10.0->apache-airflow) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\alima\anaconda3\lib\site-packages (from requests<3,>=2.9.1->connexion[flask,swagger-ui]>=2.10.0->apache-airflow) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\alima\anaconda3\lib\site-packages (from requests<3,>=2.9.1->connexion[flask,swagger-ui]>=2.10.0->apache-airflow) (1.26.7)
Requirement already satisfied: commonmark<0.10.0,>=0.9.0 in c:\users\alima\anaconda3\lib\site-packages (from rich>=12.3.0->apache-airflow) (0.9.1)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\alima\anaconda3\lib\site-packages (from sqlalchemy<1.4.10,>=1.4->apache-airflow) (1.1.1)
Requirement already satisfied: httpcore<0.15.0,>=0.14.5 in c:\users\alima\anaconda3\lib\site-packages (from httpx->apache-airflow) (0.14.7)
Requirement already satisfied: sniffio in c:\users\alima\anaconda3\lib\site-packages (from httpx->apache-airflow) (1.2.0)
Requirement already satisfied: rfc3986[idna2008]<2,>=1.3 in c:\users\alima\anaconda3\lib\site-packages (from httpx->apache-airflow) (1.5.0)
Requirement already satisfied: h11<0.13,>=0.11 in c:\users\alima\anaconda3\lib\site-packages (from httpcore<0.15.0,>=0.14.5->httpx->apache-airflow) (0.12.0)
Requirement already satisfied: anyio==3.* in c:\users\alima\anaconda3\lib\site-packages (from httpcore<0.15.0,>=0.14.5->httpx->apache-airflow) (3.6.1)

ERROR: Invalid requirement: "'apache-airflow[all]'"

In [685]:

coches.to_csv('prueba_viernes_scrapeo3.csv', index=False)

In [689]:
!airflow users create -r Admin -u adrian -e adrianpradomart@gmail.com -p password -f adrian -l prado

WARNING:root:OSError while attempting to symlink the latest log directory
Traceback (most recent call last):
  File "C:\Users\alima\anaconda3\lib\runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "C:\Users\alima\anaconda3\lib\runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "C:\Users\alima\anaconda3\Scripts\airflow.exe\__main__.py", line 7, in <module>
  File "C:\Users\alima\anaconda3\lib\site-packages\airflow\__main__.py", line 38, in main
    args.func(args)
  File "C:\Users\alima\anaconda3\lib\site-packages\airflow\cli\cli_parser.py", line 50, in command
    func = import_string(import_path)
  File "C:\Users\alima\anaconda3\lib\site-packages\airflow\utils\module_loading.py", line 32, in import_string
    module = import_module(module_path)
  File "C:\Users\alima\anaconda3\lib\importlib\__init__.py", line 127, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1030, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1007, in _find_and_load
  File "<frozen importlib._bootstrap>", line 986, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 680, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 850, in exec_module
  File "<frozen importlib._bootstrap>", line 228, in _call_with_frames_removed
  File "C:\Users\alima\anaconda3\lib\site-packages\airflow\cli\commands\user_command.py", line 33, in <module>
    from airflow.www.app import cached_app
  File "C:\Users\alima\anaconda3\lib\site-packages\airflow\www\app.py", line 43, in <module>
    from airflow.www.extensions.init_views import (
  File "C:\Users\alima\anaconda3\lib\site-packages\airflow\www\extensions\init_views.py", line 28, in <module>
    from airflow.www.views import lazy_add_provider_discovered_options_to_connection_form
  File "C:\Users\alima\anaconda3\lib\site-packages\airflow\www\views.py", line 130, in <module>
    from airflow.www import auth, utils as wwwutils
  File "C:\Users\alima\anaconda3\lib\site-packages\airflow\www\utils.py", line 24, in <module>
    import markdown
  File "C:\Users\alima\anaconda3\lib\site-packages\markdown\__init__.py", line 29, in <module>
    from .core import Markdown, markdown, markdownFromFile  # noqa: E402
  File "C:\Users\alima\anaconda3\lib\site-packages\markdown\core.py", line 26, in <module>
    from . import util
  File "C:\Users\alima\anaconda3\lib\site-packages\markdown\util.py", line 88, in <module>
    INSTALLED_EXTENSIONS = metadata.entry_points(group='markdown.extensions')
  File "C:\Users\alima\anaconda3\lib\site-packages\importlib_metadata\__init__.py", line 1019, in entry_points
    return SelectableGroups.load(eps).select(**params)
  File "C:\Users\alima\anaconda3\lib\site-packages\importlib_metadata\__init__.py", line 472, in load
    ordered = sorted(eps, key=by_group)
  File "C:\Users\alima\anaconda3\lib\site-packages\importlib_metadata\__init__.py", line 1016, in <genexpr>
    eps = itertools.chain.from_iterable(
  File "C:\Users\alima\anaconda3\lib\site-packages\importlib_metadata\_itertools.py", line 16, in unique_everseen
    k = key(element)
  File "C:\Users\alima\anaconda3\lib\site-packages\importlib_metadata\__init__.py", line 951, in _normalized_name
    return self._name_from_stem(stem) or super()._normalized_name
  File "C:\Users\alima\anaconda3\lib\site-packages\importlib_metadata\__init__.py", line 635, in _normalized_name
    return Prepared.normalize(self.name)
  File "C:\Users\alima\anaconda3\lib\site-packages\importlib_metadata\__init__.py", line 875, in normalize
    return re.sub(r"[-_.]+", "-", name).lower().replace('-', '_')
  File "C:\Users\alima\anaconda3\lib\re.py", line 210, in sub
    return _compile(pattern, flags).sub(repl, string, count)
TypeError: expected string or bytes-like object

In [26]:
url_='https://www.coches.com/nuevo/coches-segunda-mano/ocasion-peugeot-3008-15bluehdi-allure-s_s-130-en-sevilla.htm?id=6896930'

driver=webdriver.Chrome(PATH, options=opciones)
driver.get(url_)
sleep(randint(1,2))
cookies=driver.find_element_by_xpath('//*[@id="onetrust-accept-btn-handler"]')
cookies.click()
sleep(randint(2,10))
soup = bs(driver.page_source, 'html.parser')

marca =driver.find_element_by_xpath('/html/body/main/section[1]/ol/li[3]/a').text
modelo= driver.find_element_by_xpath('/html/body/main/section[1]/ol/li[4]/a').text.rsplit(' ', 1)[-1]
precio=driver.find_element_by_xpath('//*[@id="trackingIndexCardPromotion"]/div[1]/div[2]/div/div[2]/div[1]/div[2]').text.rsplit(' ', 1)[0]
combustible=driver.find_element_by_xpath('//*[@id="indexCardPpal"]/div[1]/div[3]/div[1]/div[4]/div/p[2]').text
CV=driver.find_element_by_xpath('//*[@id="trackingIndexCardPromotion"]/div[1]/div[1]/div/div').text.split(' ', 1)[0]
km=driver.find_element_by_xpath('//*[@id="indexCardPpal"]/div[1]/div[3]/div[1]/div[3]/div/p[2]').text.rsplit(' ', 1)[0]
lugar=driver.find_element_by_xpath('/html/body/main/section[1]/ol/li[2]/a').text
año=driver.find_element_by_xpath('//*[@id="indexCardPpal"]/div[1]/div[3]/div[1]/div[1]/div/p[2]').text
#link=[li.find('a').attrs['href'] for li in soup.find_all(class_='cc-car-card-header')]
shift=driver.find_element_by_xpath('//*[@id="indexCardPpal"]/div[1]/div[3]/div[1]/div[6]/div/p[2]').text
puertas=driver.find_element_by_xpath('//*[@id="indexCardPpal"]/div[1]/div[3]/div[1]/div[5]/div/p[2]').text.rsplit(' ', 1)[0]
profesional=driver.find_element_by_xpath('//*[@id="indexCardPpal"]/div[1]/div[3]/div[1]/div[10]/div/p[2]').text
'''model.append(modelo.rsplit(' ', 1)[-1])
make.append(modelo.rsplit(' ', 1)[0])
price.append(precio.rsplit(' ', 1)[0])
gas.append(combustible)
#horse.append(CV)
dis.append(km.rsplit(' ', 1)[0])
place.append(lugar)
year.append(año)
li.append(link)'''

'''flat_list_modelo = [item for modelo in model for item in modelo]
flat_list_make = [item for maker in make for item in maker]
flat_list_precio = [item for precio in price for item in precio]
flat_list_gas = [item for combustible in gas for item in combustible]
#flat_list_cv = [item for CV in horse for item in CV]
flat_list_km = [item for km in dis for item in km]
flat_list_lugar = [item for lugar in place for item in lugar]
flat_list_año = [item for año in year for item in año]
flat_list_link = [item for link in li for item in link]
'''
coches=pd.DataFrame(data=list(marca))

coches['model']=modelo
coches['price']=precio
coches['fuel']=combustible
coches['year']=año
coches['kms']=km
coches['power']=CV
coches['doors']=puertas
coches['shift']=shift
coches['is_professional']=profesional

coches['province']=lugar

#coches['link']=flat_list_link
'''coches.rename(columns={'0': "modelo"}, inplace=True)
x = coches[coches.lugar.str.contains('\d', regex=True)]
x.drop(columns='combustible', inplace=True)
x.rename(columns={'km': "lugar", 'CV':'combustible', 'lugar':'año', 'año':'km'}, inplace=True)
x['CV']='Unknown'
col=x.pop('CV')
x.insert(3,'CV',col)
col1=x.pop('km')
x.insert(4,'km',col1)
y = coches[coches.lugar.str.contains('[a-zA-Z]+', regex=True)]
frames=[x,y]
result=pd.concat(frames)
result.reset_index(inplace=True)
result.to_csv('result.csv', index=False)'''

C:\Users\alima\AppData\Local\Temp/ipykernel_18176/1263948580.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(PATH, options=opciones)
C:\Users\alima\AppData\Local\Temp/ipykernel_18176/1263948580.py:6: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  cookies=driver.find_element_by_xpath('//*[@id="onetrust-accept-btn-handler"]')
C:\Users\alima\AppData\Local\Temp/ipykernel_18176/1263948580.py:11: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  marca =driver.find_element_by_xpath('/html/body/main/section[1]/ol/li[3]/a').text
C:\Users\alima\AppData\Local\Temp/ipykernel_18176/1263948580.py:12: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  modelo= driver.find_element_by_xpath('/html/body/main/section[1]/ol/li[4]/a').text.rsplit(' ', 1)[-1]
C:\Users\alima\AppData\Local\Temp/ipykernel_18176/1263948580.py:13: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  precio=driver.find_element_by_xpath('//*[@id="trackingIndexCardPromotion"]/div[1]/div[2]/div/div[2]/div[1]/div[2]').text.rsplit(' ', 1)[0]
C:\Users\alima\AppData\Local\Temp/ipykernel_18176/1263948580.py:14: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  combustible=driver.find_element_by_xpath('//*[@id="indexCardPpal"]/div[1]/div[3]/div[1]/div[4]/div/p[2]').text
C:\Users\alima\AppData\Local\Temp/ipykernel_18176/1263948580.py:15: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  CV=driver.find_element_by_xpath('//*[@id="trackingIndexCardPromotion"]/div[1]/div[1]/div/div').text.rsplit(' ', 1)[0]
C:\Users\alima\AppData\Local\Temp/ipykernel_18176/1263948580.py:16: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  km=driver.find_element_by_xpath('//*[@id="indexCardPpal"]/div[1]/div[3]/div[1]/div[3]/div/p[2]').text.rsplit(' ', 1)[0]
C:\Users\alima\AppData\Local\Temp/ipykernel_18176/1263948580.py:17: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  lugar=driver.find_element_by_xpath('/html/body/main/section[1]/ol/li[2]/a').text
C:\Users\alima\AppData\Local\Temp/ipykernel_18176/1263948580.py:18: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  año=driver.find_element_by_xpath('//*[@id="indexCardPpal"]/div[1]/div[3]/div[1]/div[1]/div/p[2]').text
C:\Users\alima\AppData\Local\Temp/ipykernel_18176/1263948580.py:20: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  shift=driver.find_element_by_xpath('//*[@id="indexCardPpal"]/div[1]/div[3]/div[1]/div[6]/div/p[2]').text
C:\Users\alima\AppData\Local\Temp/ipykernel_18176/1263948580.py:21: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  puertas=driver.find_element_by_xpath('//*[@id="indexCardPpal"]/div[1]/div[3]/div[1]/div[5]/div/p[2]').text.rsplit(' ', 1)[0]
C:\Users\alima\AppData\Local\Temp/ipykernel_18176/1263948580.py:22: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  profesional=driver.find_element_by_xpath('//*[@id="indexCardPpal"]/div[1]/div[3]/div[1]/div[10]/div/p[2]').text

'coches.rename(columns={\'0\': "modelo"}, inplace=True)\nx = coches[coches.lugar.str.contains(\'\\d\', regex=True)]\nx.drop(columns=\'combustible\', inplace=True)\nx.rename(columns={\'km\': "lugar", \'CV\':\'combustible\', \'lugar\':\'año\', \'año\':\'km\'}, inplace=True)\nx[\'CV\']=\'Unknown\'\ncol=x.pop(\'CV\')\nx.insert(3,\'CV\',col)\ncol1=x.pop(\'km\')\nx.insert(4,\'km\',col1)\ny = coches[coches.lugar.str.contains(\'[a-zA-Z]+\', regex=True)]\nframes=[x,y]\nresult=pd.concat(frames)\nresult.reset_index(inplace=True)\nresult.to_csv(\'result.csv\', index=False)'

In [31]:
url_='https://www.coches.com/nuevo/coches-segunda-mano/ocasion-peugeot-3008-15bluehdi-allure-s_s-130-en-sevilla.htm?id=6896930'
modelo= driver.find_element_by_xpath('/html/body/main/section[1]/ol/li[4]/a').text.rsplit(' ', 1)[-1]
marca =driver.find_element_by_xpath('/html/body/main/section[1]/ol/li[3]/a').text
CV=driver.find_element_by_xpath('//*[@id="trackingIndexCardPromotion"]/div[1]/div[1]/div/div').text.split(' ', 1)[0]

C:\Users\alima\AppData\Local\Temp/ipykernel_18176/2712025182.py:2: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  modelo= driver.find_element_by_xpath('/html/body/main/section[1]/ol/li[4]/a').text.rsplit(' ', 1)[-1]
C:\Users\alima\AppData\Local\Temp/ipykernel_18176/2712025182.py:3: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  marca =driver.find_element_by_xpath('/html/body/main/section[1]/ol/li[3]/a').text
C:\Users\alima\AppData\Local\Temp/ipykernel_18176/2712025182.py:4: DeprecationWarning: find_element_by_xpath is deprecated. Please use find_element(by=By.XPATH, value=xpath) instead
  CV=driver.find_element_by_xpath('//*[@id="trackingIndexCardPromotion"]/div[1]/div[1]/div/div').text.split(' ', 1)[0]

In [34]:
k=pd.DataFrame(CV)
k

ValueError: DataFrame constructor not properly called!

In [24]:
coches.rename(columns={'0': "modelo"}, inplace=True)
coches.columns

Index(['modelo', 'precio', 'combustible', 'CV', 'km', 'lugar', 'año', 'link'], dtype='object')

In [20]:
coches.drop(columns='Unnamed: 0', inplace=True)

In [25]:

x = coches[coches.lugar.str.contains('\d', regex=True)]

In [26]:
x.modelo+=x.combustible

C:\Users\alima\anaconda3\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [27]:
x.drop(columns='combustible', inplace=True)

C:\Users\alima\anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [28]:
x.rename(columns={'km': "lugar", 'CV':'combustible', 'lugar':'año', 'año':'km'}, inplace=True)

C:\Users\alima\anaconda3\lib\site-packages\pandas\core\frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [29]:
x['CV']='Unknown'
col=x.pop('CV')
x.insert(3,'CV',col)
col1=x.pop('km')
x.insert(4,'km',col1)
x

C:\Users\alima\AppData\Local\Temp/ipykernel_27208/3598586267.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['CV']='Unknown'

,modelo,precio,combustible,CV,km,lugar,año,link
20,Volkswagen Polo 1.0 TSI Advance 70kW,13.490 €,Gasolina,Unknown,36.000 km,Tenerife ...,2019 ...,https://www.coches.com/coches-segunda-mano/oca...
21,Toyota Yaris 1.5 Active,10.500 €,Gasolina,Unknown,62.200 km,Guadalajara ...,2017 ...,https://www.coches.com/coches-segunda-mano/oca...
22,Skoda Fabia 1.4 16v Elegance 100,3.900 €,Gasolina,Unknown,225.000 km,Lleida,2000 ...,https://www.coches.com/coches-segunda-mano/oca...
23,Citroen C4 Picasso 1.6e-HDi Exclusive 115,9.750 €,Diesel,Unknown,150.000 km,Madrid,2015 ...,https://www.coches.com/coches-segunda-mano/oca...
24,Cupra Formentor 1.5 TSI 150,29.125 €,Gasolina,Unknown,0 km,Madrid,2022 ...,https://www.coches.com/km0/seminuevo-cupra-for...
...,...,...,...,...,...,...,...,...
3975,Renault Clio E-TECH Híbrido Intens 103kW,18.150 €,Híbrido,Unknown,11.869 km,Madrid,2021 ...,https://www.coches.com/coches-segunda-mano/oca...
3976,Renault Kangoo Fg. 1.5dCi Profesional Gen5 55kW,10.900 €,Diesel,Unknown,36.089 km,Madrid,2015 ...,https://www.coches.com/coches-segunda-mano/oca...
3977,Audi A4 30 TDI Advanced S tronic 100kW,30.636 €,Diesel,Unknown,22.336 km,Granada ...,2020 ...,https://www.coches.com/coches-segunda-mano/oca...
3978,Skoda Spaceback 1.2 TSI Ambition 63kW,10.500 €,Gasolina,Unknown,68.613 km,Pontevedra ...,2015 ...,https://www.coches.com/coches-segunda-mano/oca...
3979,Nissan Qashqai 1.6dCi Acenta 4x2 XTronic,18.600 €,Diesel,Unknown,67.616 km,Madrid,2018 ...,https://www.coches.com/coches-segunda-mano/oca...

In [30]:
y = coches[coches.lugar.str.contains('[a-zA-Z]+', regex=True)]
y

,modelo,precio,combustible,CV,km,lugar,año,link
0,Volkswagen PRO Furgón BMT 30...,10.800 €,Diesel,136 cv,1 km,Malaga,2015,https://www.coches.com/coches-segunda-mano/oca...
1,Hyundai i20 1.1CRDI BD Klass...,7.500 €,Diesel,75 cv,142.000 km,Caceres,2015,https://www.coches.com/coches-segunda-mano/oca...
2,Mercedes Clase A 45 S AMG 4Ma...,66.900 €,Gasolina,422 cv,9.800 km,Valencia,2020,https://www.coches.com/km0/seminuevo-mercedes-...
3,Bmw Serie 3 320i,2.500 €,Gasolina,170 cv,290.000 km,Madrid,2003,https://www.coches.com/coches-segunda-mano/oca...
4,Toyota Yaris 1.3 VVT-i Luna ...,4.400 €,Gasolina,87 cv,92.000 km,Madrid,2006,https://www.coches.com/coches-segunda-mano/oca...
...,...,...,...,...,...,...,...,...
3895,Jaguar S-Type V6 3.0 Sport ...,5.000 €,Gasolina,240 cv,140.000 km,Lleida,2002,https://www.coches.com/coches-segunda-mano/oca...
3896,Bmw Serie 1 118d,15.890 €,Diesel,150 cv,160.420 km,Alicante,2016,https://www.coches.com/coches-segunda-mano/oca...
3897,Volvo XC60 B4 Momentum Pro ...,42.990 €,Diesel,197 cv,1 km,Alava,2021,https://www.coches.com/km0/seminuevo-volvo-xc6...
3898,Audi Q2 1.6TDI Design editio...,24.990 €,Diesel,116 cv,71.655 km,Cadiz,2017,https://www.coches.com/coches-segunda-mano/oca...
3899,Maserati MC Stradale Aut. ...,68.990 €,Gasolina,460 cv,65.000 km,Cadiz,2015,https://www.coches.com/coches-segunda-mano/oca...

In [2]:
frames=[x,y]
result=pd.concat(frames)
result.reset_index(inplace=True)
result.to_csv('cochesbien.csv', index=False)

NameError: name 'x' is not defined

In [62]:
#result.drop(columns='index', inplace=True)

result.precio=result.precio.str.replace('€', ' ')
result.km=result.km.str.replace('km', ' ')
coches=result

In [163]:
j=pd.read_csv('cochesbien1.csv')
j.drop(columns='Unnamed: 0', inplace=True)
j.rename(columns={'modelo':'version'}, inplace=True)
j['modelo']=''
j['marca']=''
j.loc[j.marca == '', 'marca'] = j.version.str.split().str.get(0)
j.loc[j.modelo == '', 'modelo'] = j.version.str.split().str.get(1)

for i in range(len(j)):
    
    if j.version.str.contains('Serie', regex=True)[i]==True:
        j.modelo[i]='Serie'+j.version.str.split().str.get(2)[i]

C:\Users\alima\AppData\Local\Temp/ipykernel_25092/87826288.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  j.modelo[i]='Serie'+j.version.str.split().str.get(2)[i]

In [180]:
j

,version,precio,combustible,CV,km,lugar,año,link,modelo,marca
0,Volkswagen Polo 1.0 TSI Advance 70kW,13.490,Gasolina,Unknown,36.000,Tenerife ...,2019,https://www.coches.com/coches-segunda-mano/oca...,Polo,Volkswagen
1,Toyota Yaris 1.5 Active,10.500,Gasolina,Unknown,62.200,Guadalajara ...,2017,https://www.coches.com/coches-segunda-mano/oca...,Yaris,Toyota
2,Skoda Fabia 1.4 16v Elegance 100,3.900,Gasolina,Unknown,225.000,Lleida,2000,https://www.coches.com/coches-segunda-mano/oca...,Fabia,Skoda
3,Citroen C4 Picasso 1.6e-HDi Exclusive 115,9.750,Diesel,Unknown,150.000,Madrid,2015,https://www.coches.com/coches-segunda-mano/oca...,C4,Citroen
4,Cupra Formentor 1.5 TSI 150,29.125,Gasolina,Unknown,0,Madrid,2022,https://www.coches.com/km0/seminuevo-cupra-for...,Formentor,Cupra
...,...,...,...,...,...,...,...,...,...,...
3975,Jaguar S-Type V6 3.0 Sport ...,5.000,Gasolina,240 cv,140.000,Lleida,2002,https://www.coches.com/coches-segunda-mano/oca...,S-Type,Jaguar
3976,Bmw Serie 1 118d,15.890,Diesel,150 cv,160.420,Alicante,2016,https://www.coches.com/coches-segunda-mano/oca...,Serie1,Bmw
3977,Volvo XC60 B4 Momentum Pro ...,42.990,Diesel,197 cv,1,Alava,2021,https://www.coches.com/km0/seminuevo-volvo-xc6...,XC60,Volvo
3978,Audi Q2 1.6TDI Design editio...,24.990,Diesel,116 cv,71.655,Cadiz,2017,https://www.coches.com/coches-segunda-mano/oca...,Q2,Audi
3979,Maserati MC Stradale Aut. ...,68.990,Gasolina,460 cv,65.000,Cadiz,2015,https://www.coches.com/coches-segunda-mano/oca...,MC,Maserati

In [50]:
result.to_csv('cochesbien1.csv')

In [59]:
cursor.execute('drop table if exists coches;')



tabla='''

        create table coches (
            
            
            modelo varchar(200),
            precio bigint(20) NOT NULL,
            combustible varchar(200),
            CV varchar(200),
            km bigint(20),
            lugar varchar(50),
            año year,
             
            link varchar(200)

            
        );

'''


cursor.execute(tabla)

In [63]:
for i in range(len(coches)):
    
    insert_query='insert into {} ({}) values {};'\
                 .format('coches', ','.join(coches.columns), tuple(coches.iloc[i].values))
    
    
    insert_query=f"insert into coches ({','.join(coches.columns)}) values {tuple(coches.iloc[i].values)};"
    
    
    cursor.execute(insert_query)
    
    
db.commit()

ProgrammingError: 1054 (42S22): Unknown column 'nan' in 'field list'

In [ ]:

coches

## KAGGLE

In [ ]:
import csv

In [ ]:
#ith open(r'/data/coches-de-segunda-mano-sample.csv', newline='') as csvfile:
kaggle = pd.read_csv (r'data\coches-de-segunda-mano-sample.csv')
kaggle= pd.DataFrame(kaggle, columns= ['url','company','make','model','version','price','price_financed','fuel','year','doors','shift','color','photos','is_professional','dealer','province','country','publish_date','insert_date'])

In [ ]:
kaggle

In [ ]:
cursor.execute('drop table if exists kaggle;')



tabla='''

        create table kaggle (
            
            
            
            url varchar(200),
            company varchar(200),
            make varchar(200),
            model varchar(200),
            version varchar(200),
            
            price int,
            price_financed varchar(50),
            doors int,
            
               fuel varchar(50),
               year varchar(50),
               shift varchar(50),
               color varchar(200),
               
               photos int,
               is_professional bool,
                dealer varchar(200),
            province varchar(200),
            country varchar(200),
            publish_date datetime,
             insert_date datetime

            
        );

'''


cursor.execute(tabla)

In [ ]:
for i in range(len(kaggle)):
    
    insert_query='insert into {} ({}) values {};'\
                 .format('kaggle', ','.join(kaggle.columns), tuple(kaggle.iloc[i].values))
    
    
    insert_query=f"insert into kaggle ({','.join(kaggle.columns)}) values {tuple(kaggle.iloc[i].values)};"
    
    
    cursor.execute(insert_query)
    
    
db.commit()

## WALLAPOP

In [1]:
from src.wallapop import *

====== WebDriver manager ======
Current google-chrome version is 100.0.4896
Get LATEST chromedriver version for 100.0.4896 google-chrome
Driver [C:\Users\alima\.wdm\drivers\chromedriver\win32\100.0.4896.60\chromedriver.exe] found in cache

In [2]:
url2='https://es.wallapop.com/app/search?category_ids=100&filters_source=seo_landing&longitude=-3.69196&latitude=40.41956'

In [3]:
df=wallapop(url2)
df

,modelo,precio,caracteristicas
0,Citroen Xsara 2000 en perfecto estado,950€,GasolinaManual110 cv2000222000 km
1,Volkswagen Tiguan Advance 1.5 TSI 110 kW (150 ...,29.900€,GasolinaAutomático150 cv202029500 km
2,SEAT Leon 1.5 TSI SANDS FR 110 kW (150 CV),22.250€,GasolinaManual150 cv202130124 km
3,BMW Serie 1 118d 110 kW (150 CV),21.720€,DiéselAutomático150 cv201838474 km
4,SEAT Leon 1.5 TSI SANDS FR 110 kW (150 CV),22.250€,GasolinaManual150 cv202115596 km
...,...,...,...
7742,AUDI Q2 DESIGN ED 1.6TDI CON TECHO MANUAL 116CV,22.990€,DiéselManual116 cv201754741 km
7743,GOLF LAST EDITION 1.5TSI 130CV MANUAL,18.990€,GasolinaManual130 cv202041500 km
7744,SEAT TARRACO 2.0TDI XCELLENCE GO DSG 7PLAZAS,32.490€,DiéselAutomático150 cv202117567 km
7745,AUDI S4 AVANT 3.0TFSI QUATTRO 354CV TIPTRONIC,48.500€,GasolinaAutomático354 cv201767998 km
7746,SEAT LEON 1.5TSI FR 150CV MANUAL,21.790€,GasolinaManual150 cv202113421 km

In [79]:
df.caracteristicas.str.contains('Eléctrico', regex=True).unique()

array([False,  True])

In [2]:
!pip install mysql-connector-python


import mysql.connector as conn

Requirement already satisfied: mysql-connector-python in c:\users\alima\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\alima\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.0)

In [7]:
df=pd.read_csv('wallapop.csv')

In [9]:
df.precio=df.precio.str.replace('€', '')
df['combustible']='i'
df['transmision']='i'
df['CV']='i'
df['año']='i'
df['km']='i'
wallapop=df.copy()

In [1]:
crea_db=conn.connect(host='localhost', user='adri', passwd='password')

cursor=crea_db.cursor()

cursor.execute('drop database if exists scrapeo;')
cursor.execute('create database scrapeo;')

db=conn.connect(host='localhost', user='adri', passwd='password', database='scrapeo')

cursor=db.cursor()

NameError: name 'conn' is not defined

In [ ]:


cursor.execute('drop table if exists df;')



tabla='''

        create table df (
            
            
            modelo varchar(200),
            precio varchar(200),
            
            caracteristicas varchar(200)

            
        );

'''


cursor.execute(tabla)

In [ ]:
for i in range(len(df)):
    
    insert_query='insert into {} ({}) values {};'\
                 .format('df', ','.join(df.columns), tuple(df.iloc[i].values))
    
    
    insert_query=f"insert into df ({','.join(df.columns)}) values {tuple(df.iloc[i].values)};"
    
    
    cursor.execute(insert_query)
    
    
db.commit()

In [27]:

for i in range(len(wallapop)):
    if wallapop.caracteristicas.str.contains('Gasolina', regex=True)[i]==True:
        wallapop.combustible[i]= 'Gasolina'
    if wallapop.caracteristicas.str.contains('Diésel', regex=True)[i]==True:
        wallapop.combustible[i]= 'Diésel'
    if wallapop.caracteristicas.str.contains('Eléctrico', regex=True)[i]==True:
         wallapop.combustible[i]='Eléctrico'
    if wallapop.caracteristicas.str.contains('Manual', regex=True)[i]==True:
        wallapop.transmision[i]='Manual'
    if wallapop.caracteristicas.str.contains('Automático', regex=True)[i]==True:
        wallapop.transmision[i]='Automático'
    

    
    
    
    
    #wallapop.transmision[i]=='Manual' if wallapop[wallapop.caracteristicas.str.contains('Manual', regex=True)]
    #wallapop.transmision[i]=='Automático' if wallapop[wallapop.caracteristicas.str.contains('Automático', regex=True)]

    #.str.contains('/.+d(?=cv)/', regex=True)]

C:\Users\alima\AppData\Local\Temp/ipykernel_25092/2255330514.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wallapop.combustible[i]= 'Gasolina'
C:\Users\alima\AppData\Local\Temp/ipykernel_25092/2255330514.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wallapop.transmision[i]='Manual'
C:\Users\alima\AppData\Local\Temp/ipykernel_25092/2255330514.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wallapop.transmision[i]='Automático'
C:\Users\alima\AppData\Local\Temp/ipykernel_25092/2255330514.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wallapop.combustible[i]= 'Diésel'
C:\Users\alima\AppData\Local\Temp/ipykernel_25092/2255330514.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wallapop.combustible[i]='Eléctrico'

In [ ]:
for i in range(len(wallapop)):
    if wallapop.caracteristicas.str.contains('Gasolina', regex=True)[i]==True:
        wallapop.combustible[i]= 'Gasolina'
        .str.contains('/.+d(?=cv)/', regex=True)

In [46]:
wallapop

,Unnamed: 0,modelo,precio,caracteristicas,combustible,transmision,CV,año,km
0,0,Citroen Xsara 2000 en perfecto estado,950,GasolinaManual110 cv2000222000 km,Gasolina,Manual,i,i,i
1,1,Volkswagen Tiguan Advance 1.5 TSI 110 kW (150 ...,29.900,GasolinaAutomático150 cv202029500 km,Gasolina,Automático,i,i,i
2,2,SEAT Leon 1.5 TSI SANDS FR 110 kW (150 CV),22.250,GasolinaManual150 cv202130124 km,Gasolina,Manual,i,i,i
3,3,BMW Serie 1 118d 110 kW (150 CV),21.720,DiéselAutomático150 cv201838474 km,Diésel,Automático,i,i,i
4,4,SEAT Leon 1.5 TSI SANDS FR 110 kW (150 CV),22.250,GasolinaManual150 cv202115596 km,Gasolina,Manual,i,i,i
...,...,...,...,...,...,...,...,...,...
7742,7742,AUDI Q2 DESIGN ED 1.6TDI CON TECHO MANUAL 116CV,22.990,DiéselManual116 cv201754741 km,Diésel,Manual,i,i,i
7743,7743,GOLF LAST EDITION 1.5TSI 130CV MANUAL,18.990,GasolinaManual130 cv202041500 km,Gasolina,Manual,i,i,i
7744,7744,SEAT TARRACO 2.0TDI XCELLENCE GO DSG 7PLAZAS,32.490,DiéselAutomático150 cv202117567 km,Diésel,Automático,i,i,i
7745,7745,AUDI S4 AVANT 3.0TFSI QUATTRO 354CV TIPTRONIC,48.500,GasolinaAutomático354 cv201767998 km,Gasolina,Automático,i,i,i
7746,7746,SEAT LEON 1.5TSI FR 150CV MANUAL,21.790,GasolinaManual150 cv202113421 km,Gasolina,Manual,i,i,i

In [45]:
for i in range(3):
    if wallapop.caracteristicas.str.contains('cv', regex=True)[i]==True:
        wallapop.CV[i]=

C:\Users\alima\AppData\Local\Temp/ipykernel_25092/2742922182.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  wallapop.CV[i]='i'